body {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

h1 {
  color: white;
  font-size: 9rem;
  margin: 0 0 30px 0;
}

h2 {
  font-size: 1.8rem;
  font-weight: 1000;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

h4 {
  font-size: 1rem;
  font-weight: 800;
}

a {
  color: #00b7ff;
  font-size: 0.9rem;
}

button {
  border-radius: 35px;
  background-color: white;
  color: #3f819b;
  border: none;
  font-size: 1.7rem;
  padding: 18px 40px;
  font-weight: 500;
}

.index {
  background-image: url(/images/cinema.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-start;
}

.home-container {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: 150 200 0 0;
}

.movies-title-subtitle {
  display: flex;
  flex-direction: column;
  padding: 20px 10vw 0px;
}

.movie-overview {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 4vw;
  row-gap: 40px;
  padding: 30px 10vw 100px;
}

.movie-card {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-details-container {
  display: flex;
  flex-direction: row;
  width: 50vw;
  margin: 20px 150px;
  font-size: 1.1rem;
}

.movie-details-image {
  margin: 20px;
}

.movie-details-text {
  margin: 20px;
}
