body {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

h1 {
  color: white;
  font-size: 7rem;
}

.index {
  background-image: url(/images/cinema.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: #00b7ff;
}
